body{
    background-color: #292929;
}

button{
    padding: 0px;
    margin: 20px;
    background-color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    cursor: pointer;  
    &:hover{
        border: 1px solid gray;
    }
    &:active{
        scale: 0.9
    }
}

#App{
    color: white;
}